* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

/* BANNER */
.banner {
    height: 450px;
    background: url(img/5.png.jpg) center/cover no-repeat;
    position: relative;
    margin-top: 80px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.btn {
    background: white;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    border-radius: 3px;
}
/* SETA DOS PRODUTOS */
.carrossel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    width: 100%;
    max-width: 900px;
}

.seta {
    background: black;
    color: white;
    border: none;
    font-size: 22px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}
.carrossel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    width: 100%;
    max-width: 900px;
}

.seta {
    background: black;
    color: white;
    border: none;
    font-size: 22px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

.carrossel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 45px auto;
    width: 100%;
    max-width: 1100px;
}

.seta {
    background: rgb(150, 122, 122);
    color: white;
    border: none;
    font-size: 22px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.4s;
}

.seta:hover {
    background: #444;
}

.lista-produtos {
    display: flex;
    gap: 30px;
    overflow: hidden;
    width: 100%;
}

.produto {
    width: 200px;
    height: 350px;
    object-fit: cover;
    border-radius: 70px;
}
/* PRODUTOS */
.produtos {
    padding: 60px 20px;
    text-align: center;
}

.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 12px #ccc;
}

.card img {
    width: 100%;
    border-radius: 6px;
}

.preco {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
}

.card button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
.categorias {
    padding: 40px 20px;
    text-align: center;
}

.categorias h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.categoria-boxes {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria-boxes .box {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.categorias {
    padding: 40px 20px;
    text-align: center;
}

.categorias h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.categoria-boxes {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria-boxes .box {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.categoria-boxes .box img {
    width: 100%;
    border-radius: 10px;
}

.categoria-boxes .box h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* SOBRE */
.sobre {
    padding: 50px 20px;
    background: #ddd;
    text-align: center;
}

/* CONTATO */
.contato {
    padding: 50px 20px;
    text-align: center;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}